pytest
pytest-asyncio
python-dotenv
pyperclip
requests
pyautogui
mss
beautifulsoup4>=4.12.3
lxml>=5.1.0
readability-lxml>=0.8.1
rich
transformers
torch
pytesseract
ultralytics
sentence-transformers
pydantic
playwright
pytest-mock
duckduckgo-search
